<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleShortVersionString</key>
	<string></string>
	<key>CFBundleVersion</key>
	<string>20220619204338</string>
	<key>LSBackgroundOnly</key>
	<true/>
	<key>LSUIElement</key>
	<true/>
	<key>NSSupportsSuddenTermination</key>
	<false/>
	<key>SUFeedURL</key>
	<string>https://qwertyyb.github.io/hw/appcast.xml</string>
	<key>SUPublicEDKey</key>
	<string>VDYkpVjRCjjpR6g8bg6N2rbDyyCRPS98Rbr3ehISwJc=</string>
</dict>
</plist>
